[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
python-dotenv = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-login = "*"
flask-migrate = "*"
flask-mail = "*"
PyJWT = "*"
werkzeug = "*"
wtforms = "*"
flask-wtf = "*"
email-validator = "*"
flask-bs4 = "*"
sqlalchemy-utils = "*"
flask-apscheduler = "*"

[requires]
python_version = "3.8"
